*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI',
     Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

body{
    min-height: 100%;
    overflow-x: hidden;
    background-color: #f7f3f3;
}
html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;

}
@media (max-width: 1500px) {
    html {
        font-size:57.25%
    }
}

@media (max-width: 1200px) {
    html {
        font-size:50%
    }
}

@media (max-width: 770px) {
    html {
        font-size:43.75%
    }
}

@media (max-width: 615px) {
    html {
        font-size:40%
    }
}

@media (max-width: 350px) {
    html {
        font-size:35%
    }
}
li{
    margin-right: 40px;
    color: rgb(28, 72, 123);
    text-decoration: none;
    list-style-type: none;
}

a{
    list-style: none;
    text-decoration: none;
    color: inherit;
}
@media (max-width: 1500px) {
    .about {
        width:1100px
    }
}

@media (max-width: 1200px) {
    .about {
        width:auto
    }
}

.home{
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    z-index: 999;
   justify-content: center;
}
.heading-intro{
    position: relative;
    align-self: center;
    justify-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
    width: fit-content;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    font-weight: 100;
    z-index: 999;
}
.heading-1{
    font-size: 6rem;
    
}
.heading-1 span{
    color: rgb(28, 72, 123);
    font-weight: 400;
}
.heading-2{
    font-size: 4rem;
}
.heading-2 span{
    color: #ff4d5a;
    font-weight: 400;
}

.lets-begin{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2.4rem;
    padding: 0.8rem 3rem;
    width: 27.5rem;
    height: 4.8rem;
    background-color: (26, 26, 26, 0.6);
    border: 2px solid #1c487b;
    border-radius: 2px;
    color: #1c487b;
    font-size: 2.4rem;
    font-weight: 500;
    cursor: pointer;
    animation: moveInBottom 0.7s 1.2s;
    animation-fill-mode: backwards;
    animation-timing-function: cubic-bezier(0.21, 1.11, 0.81, 0.99);
}

.navigation-bar{
    display: flex;
    height: 6rem;
    position: sticky;
    justify-content:flex-end;
    align-items: center;
    top: 0;
    height: 100px;
    background-color: #f7f7f7;
    backdrop-filter: blur(8px);
    box-shadow: 0 4px 4px rgba(219, 214, 214, 0.054);
    z-index: 99999999999;
    background-color: transparent;
}
.navigation{
    display: flex;
    align-items: center;
    margin-right: 0rem;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 1px;
}
.navigation-item:active{
    color: rgb(28, 72, 123);
}
.navigation-item:not(:last-child){
    margin-right: 3rem;
}
.navigation-item-active{
    color: azure;
}

@media (max-width: 1500px) {
    .about {
        width: 1100px;
    }
}
.about{
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about-me-title{
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 13rem;
    z-index: 9999;
    
}
.about-me-title::before{
    position: absolute;
    content: '';
    border-bottom: 18px solid #ff4d5a;
    width: 16rem;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 3.5rem;
    top: 6.3rem;
    z-index: -1;
}
.about-me-content{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-title{
    text-align: center;
}
.profile-pic{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 500;
    left: -300px;
    opacity: 0;
    transition: all 1.1s;
}
.profile-fade-in{
    opacity: 1;
    transform: translateX(300px);
}
.my-picture{
    height: 24rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.info-me{
    font-size: 1.8rem;
    width: 500px;
    line-height: 1.8;
    color: #1c487b;
}
.info-me span{
    color: #ff4d5a;
}
@media (max-width: 1500px) {
    .skills-item {
        height: 90px;
        width: 145px;
    }
}
@media (max-width: 1500px) {
    .skills-item img {
        height: 55px;
    }
}
.skills-first{
    display: flex;
    justify-content: center;
}
.skills-row{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.skills-row:not(:last-child){
    margin-right: 25px;
}
.skills-item{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    width: 160px;
    border: double 3px transparent;
    border-image-slice: 1;
    border-width: 3px;
    background-image: linear-gradient(#ffffff, #ffffff), 
    radial-gradient(circle at top left, #000000, #1c487b);
    border-radius: 10px;
    background-origin: border-box;
    background-clip: content-box, border-box;
    transition: transform 0.2s, opacity 1.2s;
    overflow: hidden;
}
.skills-item:not(:last-child){
    margin-bottom: 3rem;
}
.skills-item-name{
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1;
    transition: all 0.2s;
    letter-spacing: 1px;
    color: #ff4d5a;
    font-weight: 600px;
}
@media (max-width: 1000px) {
    .project-title {
        margin-top: 6rem;
    }
}
@media (max-width: 1200px) {
    .project-title {
        margin-bottom: 10rem;
    }
}

@media (max-width: 1500px) {
    .project-left {
        margin-left: 0;
    }
}
@media (max-width: 1700px) {
    .project-left {
        margin-left: 11rem;
    }
}
.project-left{
    align-self: flex-start;
    margin-left: 22rem;
}
@media (max-width: 900px) {
    .project-image-container {
        height: 54rem;
        width: 75rem;
    }
}
@media (max-width: 970px) {
    .project-image-container {
        height: 58rem;
        width: 80rem;
    }
}
@media (max-width: 1100px) {
    .project-image-container {
        height: 64rem;
        width: 90rem;
    }
}
.weather{
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
}
.projects{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.project-title{
    position: relative;
    font-size: 3.5rem;
    z-index: 66;
}

.project-title:before {
    position: absolute;
    content: '';
    border-bottom: 18px solid #ff4d5a;
    width: 22.5rem;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 3.5rem;
    top: 6.3rem;
    z-index: -1;
}

.project_image-image img {
    width: 100%;
}
.project_image-image{
    width: 65%;
    position: relative;
}
.project-image-container:hover {
    transform: scale(0.95)
}
.project-image-container {
    position: relative;
    height: 70rem;
    width: 100rem;
    background-color: #3216bb;
    transition: all 0.2s;
    cursor: pointer;
}
.project{
    position: relative;
    display: flex;
    margin-bottom: 14rem;
    justify-content: flex-start;
}
.project-left{
    align-items: flex-start;
    margin-left: 22rem;
}
.projects-title{
     position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
     margin-bottom: 13rem;
    z-index: 9999;
}
.projects-title:before {
    position: absolute;
    content: '';
    border-bottom: 18px solid #ff4d5a;
    width: 22.5rem;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 3.5rem;
    top: 6.3rem;
    z-index: -1;
}

.project-left .project-info{
    left: -8rem;
    margin-right: -2rem;
}
.project-info{
    position: relative;
    top: 8rem;
    height: fit-content;
    padding: 1rem;
    z-index: 9999999;
}

.project-desr{
     position: relative;
     margin-top: 3rem;
     font-size: 1.8rem;
    font-weight: 500;
     z-index: 999909999;
}
.project-live-2{
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem 1.2rem;
    position: relative;
    margin-top: 3rem;
    cursor: pointer;
}
.project-live-2:after {
    position: absolute;
    content: '';
    height: 2px;
    background-color: #ff4d5a;
    width: 100%;
    bottom: 1px;
    display: block;
    transform-origin: bottom;
    transition: all 0.25s;
    z-index: -1;
}
.project-live-2:hover{
    transform: scale(0.95);
}

.contact{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    width: 500px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    margin-bottom: 10rem;
}
.contact-title{
    position: relative;
    font-size: 5.5rem;
    font-weight: 700;
    margin-top: 9rem;
    margin-bottom: 13rem;
    z-index: 9999;
}
.contact-text{
    font-size: 1.8rem;
    margin-bottom: 6rem;
}
.contact-title:before {
    position: absolute;
    content: '';
    border-bottom: 18px solid #ff4d5a;
    width: 21rem;
    display: block;
    margin: 0 auto;
    position: relative;
    left: 3.5rem;
    top: 6.3rem;
    z-index: -1;
}
.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contact input{
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: #f7f7f7;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
}
.contact-name{
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: #f7f7f7;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
    margin-bottom: 6px;
    padding: 1rem;
    height: 4rem;
}
.contact-email{
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: #f7f7f7;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
    margin-bottom: 6px;
    padding: 1rem;
    height: 4rem;

}
.contact-form-msg{
    width: 500px;
    resize: none;
    border: none;
    color: inherit;
    background-color: #f7f7f7;
    font-size: 1.6rem;
    font-family: monserrat, sans-serif;
    border-left: 2px solid transparent;
    border-radius: 0;
    margin-bottom: 6px;
    padding: 1rem;
    height: 4rem;
}
.form-submit{
    font-size: 10px;
    font-weight: 280;
    letter-spacing: 3px;
    line-height: 1;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 20px 20px;
    position: relative;
    margin-top: 20px;
    cursor: pointer;
    color: white;
    background-color: #ff4d5a;
    border-color: white;
    border: 0;
    align-self: flex-end;
}
.form-submit:hover{
    transform: scale(0.95);

}
p{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
    'Open Sans', 'Helvetica Neue', sans-serif;
}


@media (max-width: 1500px) {
    .project-right {
        margin-right: 0;
    }
}
@media (max-width: 1700px) {
    .project-right {
        margin-right: 11rem;
    }
}
.project-right {
    align-self: flex-end;
    margin-right: 22rem;
}
.todo {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.project-right .project-info{
    right: -8rem;
    margin-left: -2rem;
}

.footer{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 160px;
    background-color: #f7f7f7;
}
.return-home{
    position: absolute;
    top: -25px;
    width: 40px;
    height: 45px;
    margin-right: auto;
    margin-left: auto;
    left: 0;
    right: 0;
    text-align: center;
    background-color: #1c487b;

}
.return-home svg{
    width: 100%;
}
.return-home svg:hover{
    transform: scale(0.95);
}
.socials{
    display: flex;
    margin-bottom: 20px;
   
}
.socials img{
    height: 100%;
}
.socials-linkedin .socials-github{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35px;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.2s;
}
.socials-linkedin{
    margin-right: 1rem;
}
@media (max-width: 1700px) {
    .project-right {
        margin-right:11rem
    }
}

@media (max-width: 1500px) {
    .project-right {
        margin-right:0
    }
}

.project-right .project-info {
    right: -8rem;
    margin-left: -2rem
}

@media (max-width: 770px) {
    .project-right .project__info {
        margin-left:-4rem
    }
}

@media (max-width: 600px) {
    .project-right .project-info {
        margin-left:-6rem
    }
}

@media (max-width: 440px) {
    .project-right .project-info {
        right:-10rem;
        margin-left: -7rem
    }
}
@media (max-width: 800px) {
    .project-left .project__info {
        margin-right:-4rem
    }
}

@media (max-width: 770px) {
    .project-left .project__info {
        margin-right:-4rem
    }
}

@media (max-width: 600px) {
    .project-left .project__info {
        margin-right:-6rem
    }
}

@media (max-width: 440px) {
    .project-left .project__info {
        left:-10rem;
        margin-right: -7rem
    }
}
@media (max-width: 1700px) {
    .project-left {
        margin-left:11rem
    }
}

@media (max-width: 1500px) {
    .project-left {
        margin-left:0
    }
}
@media (max-width: 560px) {
    .project-live-2 {
        margin-top:2rem
    }
}
@media (max-width: 560px) {
    .project-desr {
        margin-top:2rem
    }
}

